{% extends "owner/base_generic.html" %}

{% block content %}

    <label>Búsqueda Owner</label>

    <div>
        <form action="" method="get" style="width: 500px">
            <input class="form-control mb-8" type="text" placeholder="Ingrese un nombre de Owner" name="q" value="{{ query | escape}}">
        </form>
    </div>

    {% if query %}
        {% if data %}
            <ul>
                {% for owner in data %}
                    <li>{{ owner.nombre }} es de {{ owner.pais }} y tiene {{ owner.edad }} años de edad</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se han encontrado coincidencias</p>
        {% endif %}
    {% else %}
        <p>No ha enviado ninguna búsqueda</p>
    {% endif %}


{% endblock %}
